.navigation-header h1 {
  font-size: 36px;
}

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
}

.navigation a {
  margin: 0 10px;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dropbtn .username {
  font-weight: bold;
}

.dropbtn .icons {
  font-size: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content,
.dropdown .dropdown-content {
  display: block;
}

.user-info {
  text-align: center;
  margin-bottom: 30px;
}

.user-info .avatar {
  background-color: #ddd;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
}

.user-info .username {
  font-weight: bold;
}
