/* .savedsalon-main {
  padding: 20px;
  height: 100vh;
  background-color: #E8E8E8;
}

.salon-list {
  margin-top: 20px;
}

.salon-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.salon-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  object-fit: cover;
}

.salon-info {
  flex-grow: 1;
}

.salon-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.salon-location,
.salon-price {
  margin-bottom: 5px;
}

.salon-rating {
  display: inline-block;
  margin-right: 10px;
}

.book-button {
  background-color: #267044;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* .book-button:hover {
  background-color: #45a049;
} */
